@import "../bootstrap/scss/bootstrap";

@import "./styles/**/*.scss";
@import "./components/**/*.scss";
@import "./routes/**/*.scss";

.display-flex {
  display: flex;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}
